[submodule "cruise_blat"]
	path = cruise_blat
	url = https://github.com/fsugenomics/cruise_blat
[submodule "cruise_www"]
	path = cruise_www
	url = https://github.com/fsugenomics/cruise_www
[submodule "cruise_sql"]
	path = cruise_sql
	url = https://github.com/fsugenomics/cruise_sql
[submodule "cruise_base"]
	path = cruise_base
	url = https://github.com/fsugenomics/cruise_base
[submodule "cruise_scripts"]
	path = cruise_scripts
	url = https://github.com/fsugenomics/cruise_scripts
